<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>상세페이지</title>
    </head>
    <body>
        <%- include('nav.html') %>

        <h4>서버에서 가져온 상세페이지</h4>
        <ul>
            <li class="list-group-item"><%= posts.title %></li>
            <li class="list-group-item"><%= posts.date %></li>
            <button>
                <a href="/edit/<%= posts._id %>"> 수정하기 </a>
            </button>
        </ul>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </body>
</html>
