<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h4>서버에서 가져온 상세페이지</h4>
        <ul>
            <li class="list-group-item">
                <h4>이메일 : <%=data.이메일 %></h4>
                <h4>패스워드 :<%= data.패스워드%></h4>
            </li>
        </ul>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    </body>
</html>
